.feedback-card img {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* CARD TITLE */
.feedback-card h2 {
  color: var(--white);
  margin: 2rem 0;
  font-weight: 700;
  font-size: 2.5rem;
}

@media (min-width: 1440px) {
  .feedback-card h2 {
    font-size: 2.75rem;
    margin: 2.5rem 0 1rem 0;
  }
}

/* CARD PARAGRAPH */
.feedback-card p {
  color: var(--light-grey);
  margin-bottom: 2.75rem;
  font-weight: 400;
  line-height: 2.5rem;
}

@media (min-width: 1440px) {
  .feedback-card p {
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

/* VALORATION */
.valoration-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2.75rem;
}

/* VALORATION LABEL */
.valoration-container > div label {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1.375rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  position: relative;
  transition: all 500ms ease-in-out;
  user-select: none;
  width: 100%;
}

@media (min-width: 1440px) {
  .valoration-container > div label {
    font-weight: 700;
  }
}

.valoration-container > div label:hover {
  color: var(--white);
  background-color: var(--medium-grey);
}

.valoration-container > div label.checked {
  color: var(--white);
  background-color: var(--orange);
}

/* VALORATION INPUT */
.valoration-container > div label input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* SUBMIT BUTTON */
.feedback-card button {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background-color: var(--orange);
  border-radius: 3rem;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: 0.175rem;
  padding: 1.5rem 0;
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
  user-select: none;
  width: 100%;
}

@media (min-width: 1440px) {
  .feedback-card button {
    font-weight: 400;
    padding: 1rem 0;
  }
}
.feedback-card button:hover {
  color: var(--orange);
  background-color: var(--white);
}
