.circle {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 100%;
  color: var(--light-grey);
  background-color: #2e3b47;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease;
  overflow: hidden;
}

@media (min-width: 1440px) {
  .circle {
    width: 5rem;
    height: 5rem;
  }
}
