:root {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: #fc7614;
  --mobile: 375px;
  --desktop: 1440px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1.5rem;
  font-family: 'Overpass', sans-serif;
}

.app-container {
  background-color: var(--very-dark-blue);
  height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1440px) {
  .app-container {
    padding: 0;
  }
}

.card {
  background-color: var(--dark-blue);
  border-radius: 1.5rem;
  padding: 2.25rem 2rem 3rem 2rem;
  width: 33.5rem;
  height: 38.6167rem;
  transition: opacity 2s ease-in-out;
}

@media (min-width: 1440px) {
  .card {
    width: 40rem;
    border-radius: 3rem;
    padding: 2.5rem 3rem 2.5rem 3rem;
  }
}
